@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/RobotoRegular.woff") format('woff'), url("../fonts/Roboto/RobotoRegular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/RobotoBold.woff") format('woff'), url("../fonts/Roboto/RobotoBold.ttf") format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: 400;
  overflow-x: hidden;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  -webkit-transition: 0.2s color ease-in;
  transition: 0.2s color ease-in;
}
