@font-face {
  font-family: "RobotoBold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoBold/RobotoBold.woff") format('woff'), url("../fonts/RobotoBold/RobotoBold.ttf") format('truetype');
}
@font-face {
  font-family: "RobotoRegular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoRegular/RobotoRegular.woff") format('woff'), url("../fonts/RobotoRegular/RobotoRegular.ttf") format('truetype');
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666;
}
body input:required:valid,
body textarea:required:valid {
  color: #666;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "RobotoBold", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  -webkit-transition: 0.2s color ease-in;
  transition: 0.2s color ease-in;
}
